/* ---------- STYLE GENERAL ---------- */
@font-face {
    font-family: 'Nexa-Heavy';
    src: url('/Nexa/Nexa-Heavy.ttf') format(truetype);
}
@font-face {
    font-family: 'Nexa';
    src: url('/Nexa/Nexa-ExtraLight.ttf') format(truetype);
}

* { 
    font-family: 'Nexa';
    margin: 0px; 
}
body {
    margin: 0;
}


.main-container { /* Conteneur avec toutes les "pages" */
    display: flex;
    flex-direction: column;
}

.title-page {
    font-family: 'Nexa-Heavy';
    font-size: 3em;
    text-align: center;
    width: 67%;
}

.paragraph-title{
    width: 400px;
    text-align: justify;
}

/* ---------- FIN DU STYLE GENERAL ---------- */

/* ---------- DEBUT DES PAGES ---------- */

/* - HOME - */
.background-radiant { 
    z-index: 1;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 100vh;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 20px 100px 0px 100px;
}

.logo {
    font-size: 2.5em;
    font-family: 'Nexa-Heavy';
}

.navigation { 
    display: flex; 
    justify-content: space-between; 
    width: 50%; 
}

.network {
    display: flex;
    justify-content: space-between;
    width: 6%;
}

.socialimg {
    width: 20px;
}

ul { 
    padding: 0px; 
}

li { 
    list-style-type: none; 
}

.element { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 3em; 
}

.figure-first {
    width: 645px;
}

.titre {
    font-size: 3em;
    font-family: 'Nexa-Heavy';
}

.input {
    display: flex;
    justify-content: space-between;
    width: 74%;
    padding: 0.3em;
    background-color: white;
    border-radius: 35px;
}

input[type=text]{
    border: none;
    margin: 10px;
    width: 100%;
}

input[type=submit]{
    color: white;
    border: none;
    background-color: lightblue;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
}

input:focus {
    outline:none;
   }

.input-mail {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 350px;
}

.input-paragraph {
    font-size: 1.1em;
    max-width: 75%;
    margin: 25px 0px 25px 0px;
}
/* - FIN DE LA PAGE HOME - */

/* - PAGE FEATURES - */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 10px 0px 10px 0px;
}

.block-containers-radiant {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    color: whitesmoke;
}

.container-radiant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    padding: 30px 20px 30px 20px;
    text-align: center;
    border-radius: 33px;
}
/* - FIN DE LA PAGE FEATURES - */

/* - PAGE EQUIPE - */
.team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.paragraph-team {
    width: 67%;
    text-align: center;
}

.container-stats {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.stats {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-number {

}

.number-desc {

}

.kucra-teams {
    display: inline-flex;
    width: 70%;
    justify-content: space-between;
}

.box-img {
}

.images {
    width: 200px;
}

.name {

}

.poste {
    
}
/* - FIN PAGE EQUIPE - */

/* - DEBUT PARRALLAX - */
.parallax {
    background-image: url("/img/parallax.png");
    height: 65vh; /* Definir la hauteur visible */
  
    /* L'effet de parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-background {
    height: 100%;
    background-color: #0000008c;
}

.content-parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: whitesmoke;
}

.title-parallax {

}

.paragraph-parallax {
    width: 60%;
    text-align: center;
}

.button-parallax {
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
    border: 2px white solid;
    background: #ffffff00;
    border-radius: 5px;
    margin-top: 50px;
}
/* - FIN PARRALLAX - */

/* - DEBUT PAGE CLIENT - */
.clients {
    height: 100vh
}

/* - FIN DE PAGE CLIENT - */

/* - DEBUT DE PAGE ABOUT - */

/* - FIN DE PAGE ABOUT - */

/* - DEBUT DE PAGE PRICING - */

/* - FIN PAGE PRICING - */

/* - PAGE BLOG - */

/* - FIN PAGE BLOG - */

/* ---------- FIN DES PAGES ---------- */

/* ---------- FOOTER ---------- */