/* ---------- STYLE GENERAL ---------- */
@font-face {
    font-family: 'Nexa-Heavy';
    src: url('/Nexa/Nexa-Heavy.ttf') format(truetype);
}
@font-face {
    font-family: 'Nexa';
    src: url('/Nexa/Nexa-ExtraLight.ttf') format(truetype);
}

* { 
    font-family: 'Nexa';
    margin: 0px; 
    
}
html, body {
    margin: 0;
    scroll-behavior: smooth;
}


.main-container { /* Conteneur avec toutes les "pages" */
    display: flex;
    flex-direction: column;
}

.title-page {
    font-family: 'Nexa-Heavy';
    font-size: 3em;
    text-align: center;
    width: 67%;
}

.paragraph-title{
    width: 400px;
    text-align: justify;
}

/* ---------- FIN DU STYLE GENERAL ---------- */

/* ---------- DEBUT DES PAGES ---------- */

/* - HOME - */
.background-radiant { 
    z-index: 1;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    height: 100vh;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 20px 100px 0px 100px;
}

.logo {
    font-size: 2.5em;
    font-family: 'Nexa-Heavy';
}

.navigation { 
    display: flex; 
    justify-content: space-between; 
    width: 50%; 
    font-weight: 900;
}

.network {
    display: flex;
    justify-content: space-between;
    width: 6%;
}

.socialimg {
    width: 20px;
}

ul { 
    padding: 0px; 
}

li { 
    list-style-type: none; 
}

a {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

a:hover {
    color: lightgrey;
}

.element { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 3em; 
}

.figure-first {
    width: 645px;
}

.titre {
    font-size: 3em;
    font-family: 'Nexa-Heavy';
}

.input {
    display: flex;
    justify-content: space-between;
    width: 74%;
    padding: 0.3em;
    background-color: white;
    border-radius: 35px;
}

input[type=text]{
    border: none;
    margin: 10px;
    width: 100%;
}

input[type=submit]{
    color: white;
    border: none;
    background-color: #1294b8;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

input:hover[type=submit]{
    background-color: lightblue;
    cursor: pointer;
}

input:focus {
    outline:none;
   }

.input-mail {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 350px;
}

.input-paragraph {
    font-size: 1.1em;
    max-width: 75%;
    margin: 25px 0px 25px 0px;
}
/* - FIN DE LA PAGE HOME - */

/* - PAGE FEATURES - */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 10px 0px 10px 0px;
}

.block-containers-radiant {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    color: whitesmoke;
}

.container-radiant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    padding: 30px 20px 30px 20px;
    text-align: center;
    border-radius: 33px;
    transition-duration: 0.5s;
}

.container-radiant:hover {
    transform: translateY(-10px);
}
/* - FIN DE LA PAGE FEATURES - */

/* - PAGE EQUIPE - */
.team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.paragraph-team {
    width: 67%;
    text-align: center;
}

.container-stats {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.stats {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-number {

}

.number-desc {

}

.kucra-teams {
    display: inline-flex;
    width: 70%;
    justify-content: space-between;
}

.radius-img-team {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(1);
}

.radius-img-team:hover {
    filter: none;
}

.box-img {
}

.images-team {
    width: 200px;
    transition-duration: 0.5s;
}

.images-team:hover {
    transform: scale(1.1);
}

.caption {
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
    transition: all 0.4s;
}

.images-team:hover .caption {
	opacity: 1;
	bottom: 10px;
	left: 10px;
}

.name {

}

.poste {
    
}
/* - FIN PAGE EQUIPE - */

/* - DEBUT PARRALLAX - */
.parallax {
    background-image: url("/img/parallax.png");
    height: 65vh; /* Definir la hauteur visible */
  
    /* L'effet de parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-background {
    height: 100%;
    background-color: #0000008c;
}

.content-parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: whitesmoke;
}

.title-parallax {

}

.paragraph-parallax {
    width: 60%;
    text-align: center;
}

.button-parallax {
    color: whitesmoke;
    padding: 10px 20px 10px 20px;
    border: 2px white solid;
    background: #ffffff00;
    border-radius: 5px;
    margin-top: 50px;
}
/* - FIN PARRALLAX - */

/* - DEBUT PAGE CLIENT - */
.clients {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    background-color: whitesmoke;
}

.container-clients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.title-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph-clients {
    width: 60%;
    text-align: center;
}

.figure-clients {
    width: 120px;
}

.img-client {
    width: 100%;
}
/* - FIN DE PAGE CLIENT - */

/* - DEBUT DE PAGE ABOUT - */
.about {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 470px;
}

.title-about {

}

.paragraph-about {

}

.about-stats {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.individual-stats {

}

.h4-individual-stats {

}

.p-individual-stats {

}

.button-about {
    width: fit-content;
    padding: 5px 10px 5px 10px;
}

.about-figure {
}

.img-about {
    width: 440px;
}
/* - FIN DE PAGE ABOUT - */

/* - DEBUT DE PAGE PRICING - */
.pricing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
}

.container-pricing {

}

.title-pricing {

}

.paragraph-pricing {

}

.box-price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.columns {
    width: 28%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 1em;
    height: 350px;
    justify-content: space-around;

    & middle {
        top: 10px;

    }
}

.container-offer {

}

.title-offer {

}

.price-offer {

}

.container-options-offer {
    display: flex;
    flex-direction: column;
}

.option-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.checked {
    width: 14px;
    height: 14px;
}
/* - FIN PAGE PRICING - */

/* - PAGE BLOG - */
.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    }

.title-blog {
    text-align: center;
}

.paragraph-blog {
    text-align: center;
}

.container-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.blog-self {
    width: 350px;
}

.filter-img {
    height: 262px;
    width: 350px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.filter-img:hover .text-appear {
    opacity: 100%;
}

.img-blog {
    position: relative;
    width: 350px;
    border-radius: 20px;
    transition-duration: 0.5s;
}

.img-blog:hover{
    filter: brightness(0.4);
    
}

.text-appear {
    opacity: 0;
    position: relative;
    bottom: 240px;
    left: 40px;
    width: fit-content;
    color:#fff;
    transition-duration: 0.2s;
}

.title-blog-self {

}

.paragraph-blog-self {

}

.blog-button {
    
}
/* - FIN PAGE BLOG - */

/* ---------- FIN DES PAGES ---------- */

/* ---------- FOOTER ---------- */

footer {
    height: 50vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-footer {

}

.form-footer {
    display: flex;
    flex-direction: row;
}

/* ---- SCROLL TO TOP ------ */

.top {
    z-index: 1;
    place-self:end;
    position: fixed;
    
    
    /* visual styling */
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
  }